[Unit]
Description=Automotive OTA Web Dashboard
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/debian/web_dashboard
ExecStart=/bin/bash /home/debian/web_dashboard/startup.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
